embed{
    display: block;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    height: 60vh;
    width: 80vw;
}
.links{
    /* font-size: 1.5em; */
    /* display: inline;
    justify-content: space-evenly; */
    /* text-align: center; */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
#click{
    text-align: center;
    cursor: text;
    /* font-size: 7em; */
}
.links a{
    display: block;
    padding: 10px;
    color: blue;
}
*{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }
  .navbar{
    background-color: rgb(235, 235, 235);
    /* border-radius: 30px; */
    font-size: 2em;
    
}
.navbar ul{
    text-align: center;
    overflow: auto;
}
.navbar li{
    cursor: text;
    /* float:left; */
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    /* color: white; */
    color: black;
}

.search{
    float: right;
    color: white;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}